.cards{
  &-list{
      display: flex; 
  }
  &-item{
    min-width: 310px; max-width: 398px; border-radius: 30px; background-color: #fff;
    overflow: hidden;   
    
    .card-title{
      background-color: var(--light-blue-color);
    }
  }
}