html {
  font-size: 1px;
}

body {
  background: #697fe7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#74a1ee), to(#6d89e9));
  background-image: linear-gradient(#74a1ee, #6d89e9);
  background-attachment: fixed;
  font-size: 16rem;
  color: #fff;
}

.bold {
  font-weight: 700;
}

h2::-moz-selection, h3::-moz-selection, span::-moz-selection, li::-moz-selection {
  background-color: #895910;
}

h2::selection, h3::selection, span::selection, li::selection {
  background-color: #895910;
}

.main {
  max-width: 1220px;
  margin: 0 auto;
  padding-top: 72px;
}

/*top-sectin, top-image*/
.top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-section .title {
  color: var(--main-blue-color);
  font-family: "RalewayLight", sans-serif;
  font-size: 34rem;
}

.top-section .main-title {
  font-family: "RalewayBlack", sans-serif;
  font-size: 85rem;
  text-transform: uppercase;
  margin-top: 16px;
  line-height: 0.9;
}

.top-image {
  max-width: 470px;
  max-height: 450px;
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "QuicksandBold", sans-serif;
  font-size: 14rem;
  margin-top: 12px;
}

.list-item::before {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-repeat: no-repeat;
}

.list-item:first-child::before {
  content: '';
  display: block;
  background-image: url("../images/alarm-clock.svg");
  background-size: 16px 19px;
}

.list-item:nth-child(2)::before {
  content: '';
  display: block;
  background-image: url("../images/metabolism.svg");
  background-size: 18px 18px;
}

.list-item:nth-child(3)::before {
  content: '';
  display: block;
  background-image: url("../images/tracking.svg");
  background-size: 20px 20px;
}

.list-item:nth-child(4)::before {
  content: '';
  display: block;
  background-image: url("../images/dna.svg");
  background-size: 20px 20px;
}

.bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

@font-face {
  font-family: "RalewayBlack";
  src: url("../fonts/Raleway/Raleway-Black.ttf");
}

@font-face {
  font-family: "RalewayLight";
  src: url("../fonts/Raleway/Raleway-Light.ttf");
}

@font-face {
  font-family: "QuicksandBold";
  src: url("../fonts/Quiksand/Quicksand-Bold.ttf");
}

@font-face {
  font-family: "QuicksandRegular";
  src: url("../fonts/Quiksand/Quicksand-Regular.ttf");
}

@font-face {
  font-family: "QuicksandLight";
  src: url("../fonts/Quiksand/Quicksand-Light.ttf");
}

:root {
  --main-blue-color:#2d589a;
  --light-blue-color: #4c70a8;
  --light-gray-color: #98a0af;
  --green-color: #4abe33;
  --red-color: #f77163;
  /*Border color variables*/
  --light-border-color: #ededed;
  --lighter-border-color: #f2f2f2;
}

.cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin-left: 24px;
}

.cards-list .logo {
  width: 182px;
  height: 156px;
}

.cards-item {
  /*  min-width: 310px; max- */
  width: 398px;
  border-radius: 30px;
  background-color: #fff;
  color: var(--main-blue-color);
  overflow: hidden;
  text-align: center;
}

.cards-item .card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #4c70a8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4c70a8), to(#5376ac));
  background-image: linear-gradient(#4c70a8, #5376ac);
  background-attachment: fixed;
  color: #fff;
  height: 64px;
  font-size: 17rem;
  font-family: "QuicksandRegular", sans-serif;
}

.cards-item .card-content {
  padding-left: 30px;
}

.cards-item.first-card .card-content {
  padding-right: 56px;
  padding-top: 56px;
  padding-bottom: 32px;
}

.cards-item.first-card .text {
  font-family: "QuicksandBold", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 21px;
  margin-top: 48px;
}

.cards-item.second-card {
  -webkit-box-shadow: 0px 13px 23px 0px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 13px 23px 0px rgba(0, 0, 0, 0.03);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-top: -12px;
}

.cards-item.second-card .card-title {
  background: #4c70a8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d589a), to(#355f9a));
  background-image: linear-gradient(#2d589a, #355f9a);
}

.cards-item.second-card .card-content {
  padding-right: 30px;
  padding-top: 18px;
}

.cards-item.second-card .buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
}

.cards-item.second-card .btn {
  background-color: #f0f0f0;
  border-radius: 21px;
  border: 0;
  min-height: 42px;
}

.cards-item.second-card .btn.active {
  background-color: #76a6ef;
}

/*price-list, price-item, title-shipping*/
.price {
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid var(--light-border-color);
  margin-top: 16px;
}

.price-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid var(--light-border-color);
  border-top: 1px solid var(--light-border-color);
  height: 70px;
}

.price-item:first-child {
  border-left: none;
  border-top: none;
}

.price-item:nth-child(2) {
  border-top: none;
}

.price-item .title {
  font-family: "QuicksandBold", sans-serif;
  font-size: 11rem;
  color: var(--light-gray-color);
}

.price-item .title-shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price-item .title-shipping::before {
  content: '';
  display: block;
  background-image: url("../images/shipping-icon.svg");
  background-size: 15px 11px;
  width: 15px;
  height: 11px;
  margin-right: 6px;
}

.price-item .text {
  font-family: "QuicksandRegular", sans-serif;
  font-size: 17px;
  color: var(--green-color);
  margin-top: 8px;
}

.price-item .text.regular-price {
  color: var(--red-color);
  text-decoration: line-through;
}

.money-sign::before {
  content: '$';
}

.percentegae-sign::after {
  content: '%';
}

.todays-price {
  margin-top: 24px;
}

.todays-price-value {
  border-bottom: 1px solid var(--lighter-border-color);
  padding-bottom: 16px;
  font-family: "QuicksandLight", sans-serif;
  font-size: 47rem;
}

.todays-price-value.money-sign::before {
  font-size: 22px;
  color: #a3b6d4;
}
/*# sourceMappingURL=styles.css.map */