.cards{
  &-list{
      display: flex; max-width: 1100px;
      .logo{
        width: 182px; height: 156px;
      }
  }
  
    &-item{
    border-radius: $border-radius; 
    color: var(--main-blue-color); overflow: hidden; text-align: center;
    
      .card-title{
        @include flexCenter;
        background: #4c70a8; background-image: linear-gradient(#4c70a8, #5376ac);
        background-attachment: fixed; color: #fff;
        height: 64px; font-size: 17rem; font-family: "QuicksandRegular", sans-serif;
      }
      .card-content{
        padding-left: 30px; 
      }
      &.first-card, &.third-card{
        max-height: 409px;
      }
    &.first-card {
      .card-content{
        padding-right:56px; padding-top: 56px; padding-bottom: 30px;
      }
      .card-text{
        font-family: "QuicksandBold", sans-serif; font-size: 13px; 
        text-transform: uppercase; line-height: 21px;
        padding-top: 18px; padding-right: 56px; padding-left: 30px; padding-bottom: 32px;
      }
    }
    &.second-card{
      margin-top: -12px; padding-bottom: 20px;
      .card-title{
        background: #4c70a8; background-image: linear-gradient(#2d589a, #355f9a);
      }
      .card-content{
        padding-right: 30px; padding-top: 18px;
        background-color: #fff;
      }
    
      .buttons{
        display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 8px;
      }
      .btn{
        background-color: #f0f0f0; border-radius: 21px; border: 0;
        min-height: 42px;
        &.active{
          background-color: #76a6ef;
        }
      }
    }
    &.third-card{
      .card-content{
       @include flexCenter;
      padding-top: 80px; padding-bottom: 60px;
      }
      .card-content, .card-text{
        padding-right: 30px; padding-left: 60px;
      }
      .card-text{
        font-family: "QuicksandBold", sans-serif; font-size: 12rem; line-height: 20px;
        padding-top: 24px; 
      }
      .list-item{
        font-family: "QuicksandRegular", sans-serif; font-size: 17px; line-height: 24px;
          &::before{
            content: ''; display: block; align-self: center;
            background-image: url("../images/v-icon.png");
            background-size: 13px 11px; background-repeat: no-repeat;
            width: 13px; height: 11px; margin-right: 8px;
        }
      }
    }
    .card-content{
      background-color: #fafafa;
    }
  }
}

@media #{$break1} {
  .second-card{    
    .card-content{
      display: none;
    }
  }
  .third-card{
    display: none;
  }
  .cards-item{
    max-width: 312px;
    .card-title.desktop-only{
      display: none;
    }
  }
  .cards-list{
    flex-direction: column-reverse;
  }
}
/*Slider additional styles*/
.centered-btns_nav{
  font-family: "RalewayMedium", sans-serif; font-size: 24rem; color: #fff;
}
.slide-content{
  background-color: #fff; 
  border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;
  .slide-image{
    max-width: 310px;
  }
}
/*Breakpoints*/
@media #{$break1} {
  .cards-item .card-title{
    border-top-left-radius: 30px; border-top-right-radius: 30px;
  }
}
@media #{$break2open} {
  .cards-item{
    width: 398px; background-color: #fff;
    &.second-card{
      transform: scale(1.2); box-shadow: 0px 13px 23px 0px rgba(0, 0, 0, 0.03);
    }
  }
  .cards-list{
    margin-left: 24px;
  }
}
