
html{
  font-size: 1px;
}
body{
  //display: flex;
  background: #697fe7; background-image: linear-gradient(#74a1ee, #6d89e9);
  background-attachment: fixed; 
  font-size: 16rem; color: #fff;
}
.bold{
  font-weight: 700;
}
h2, h3, span, li{
  &::selection{
    background-color: #895910;
  }
}
.main{
  max-width: 1220px; margin: 0 auto; padding-top: 72px;  
}
.list-item{display: flex;}


.bottom-section{
  display: flex; margin-top: 80px;
}

@media #{$break1} {
  .main{
    padding-left: 16px; padding-right: 16px;
  }
  .desktop-only{
    display: none;
  }
}

@media #{$break2open} {
  .only-mobile{
    display: none;
  }
}