@font-face {
  font-family: "RalewayBlack";
  src: url("../../fonts/Raleway/Raleway-Black.ttf");   
}
@font-face {
  font-family: "RalewayMedium";
  src: url("../../fonts/Raleway/Raleway-Medium.ttf");   
}
@font-face {
  font-family: "RalewayLight";
  src: url("../../fonts/Raleway/Raleway-Light.ttf");   
}
@font-face{
  font-family: "QuicksandBold";
  src: url("../../fonts/Quiksand/Quicksand-Bold.ttf");
}
@font-face{
  font-family: "QuicksandMedium";
  src: url("../../fonts/Quiksand/Quicksand-Medium.ttf");
}
@font-face{
  font-family: "QuicksandRegular";
  src: url("../../fonts/Quiksand/Quicksand-Regular.ttf");
}
@font-face{
  font-family: "QuicksandLight";
  src: url("../../fonts/Quiksand/Quicksand-Light.ttf");
  
}