/*price-list, price-item, title-shipping*/
.price{
  border-radius: $border-radius; overflow: hidden;
  border:1px solid var(--light-border-color); 
 
  &-item{
    display: flex;  justify-content: center; align-items: center;
   
    &:first-child{
      border-left: none; border-top: none;
    }
    &:nth-child(2){
      border-top: none;
    }
    .title{
        font-family: "QuicksandBold", sans-serif; font-size: 11rem; 
        color: var(--light-gray-color);
      &-shipping{
        display: flex;
        &::before{
          content: '';
          display: block;
          background-image: url('../images/shipping-icon.svg');
          background-size: 15px 11px;
          width: 15px; height: 11px; margin-right: 6px;
        }
      }
    }
    
    .text{
      font-family: "QuicksandRegular", sans-serif; font-size: 17px;
      color: var(--green-color); 
      &.regular-price{
        color: var(--red-color); text-decoration: line-through;
      }
    }
  }
 
}
.money-sign::before{
  content: '$';
}
.percentegae-sign::after{
  content: '%';
}
.todays-price{
  display: flex; flex-direction: column; margin-top: 24px; 
  .text{
    margin-top: 12px; font-family: "QuicksandBold", sans-serif; font-size: 11rem;
  }
}
.todays-price-value {
  display: flex; width: min-content; margin: auto;
  border-bottom: 1px solid var(--lighter-border-color); padding-bottom: 16px;
  font-family: "QuicksandLight", sans-serif; font-size: 47rem;
    &.money-sign::before{
      font-size: 22px; color:#a3b6d4;
      margin-top: auto;
      margin-bottom: 5px; 
    }
}
@media #{$break1} {
  .price-list{padding-top: 16px; padding-bottom: 12px;}
  .price-item{ 
    margin-bottom: 8px;
    .title{margin-right: 8px;}
  }
  .todays-price .text{text-transform: uppercase;}
}

@media #{$break2open} {
  .price-list{
    display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr;
  }
  .price{margin-top: 16px;}
  .price-item{
    flex-direction: column; 
    border-left: 1px solid var(--light-border-color);
    border-top: 1px solid var(--light-border-color);
    height: 70px;
    .text{margin-top: 8px;}
  }
}