:root{
  --main-blue-color:#2d589a;
  --light-blue-color: #4c70a8;
  --light-gray-color: #98a0af;
  --green-color: #4abe33;
  --red-color: #f77163;


  --light-gray-bg: #ebf1fa;
  
  /*Border color variables*/
  --light-border-color: #ededed;
  --lighter-border-color: #f2f2f2;
  
}
$border-radius: 30px;

/*Responsive - breakpoints*/
$break1: "(max-width: 980px)";
$break2open: "(min-width: 981px)";